/*colours 
grayish blue - #052D3D
light blue - #B8E1FF  , lighter - #C9E7FD , lighter
purple - #0F8CBD
skin colour - #E08D79
orangish sand - #E08D79
greenish blue - #2A7F62
florocent green - #A5BE00
blood red - #96031A
dark light pink - #AF4D98

/* ---------------------------------------------------  global styles  ------------------------------------------------------------------- */

/* html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
} */

body
{
  color : #052D3D;  
  background-color: #C9E7FD;
  font-size: 25px;
  font-size: 19px;
  line-height: 1.3;
  margin: 0;
}

.clear{
  clear: both;
}

h1{
  color: #DAFFEF;
  font-family: 'Comfortaa', 'cursive';
  font-size: 70px;
}

h2{
color: #AF4D98;
font-family: 'Comfortaa', 'cursive';
font-size: 50px;
}

a{
 color:  #96031A;
 padding: 6px;
 background-color: #A5BE00;
 border-radius: 5px ;
 text-decoration: none;
}

/* -----------------------------------------------------------  Header  --------------------------------------------------------- */
header{
  background-color: #E08D79 ;
}

header img{
  float: left;
  padding: 2px;
}

header h1{
  padding-top: 25px;
  padding-left: 25px;
  margin: auto;
}

header h2{
  margin-top: auto;
  padding-left: 25;
}

.quotes{
  width: 50%;
  margin: auto;
  padding: 30px;
  text-align: center;
  font-size: 25px;
}

/* --------------------------------------------------------  anime section  ----------------------------------------------------------- */
.anime a:hover{
 color: #F9B6B4;
}

.anime .photolink{
  background-color: #C9E7FD;
}

.anime a{
  color: #052D3D;
  background-color: #0F8CBD;
}

.anime h2, .anime h3{
  display: inline;
}

figcaption{
  color: #E08D79;
}


/* -----------------------------------------------------  songs section  ------------------------------------------------------------------- */




/* -----------------------------------------------------  The Office  ---------------------------------------------------------------------- */

s{
  text-decoration: line-through;
  text-decoration-color: red;
}

.office h1{
  color: #AF4D98;
}

/*-----------------------------------------------------  Footer  -----------------------------------------------------------------------------*/
footer{
  background-color: #E08D79;
}
a:focus footer{
  color: #E08D79;
}
a:hover footer{
  color: rgba(219, 213, 110, 0.4);
}
